
@{
    ViewData["Title"] = "Index";
}

<div class="list-group">
    <a asp-action="GetListUser" class="list-group-item">View all users</a>
    <a asp-action="GetListOrder" class="list-group-item">View all orders</a>
    <a asp-action="ViewRate" class="list-group-item">Change Rate</a>
    <a asp-action="ViewResource" class="list-group-item">Change Resource</a>
</div>
